---
 
const {expandir,id,pregunta,respuesta} = Astro.props;
const bomberos = []
---

 
  <h4 id={`accordion-open-heading-${id}`}>
    <button
      type="button"
      class="flex items-center justify-between w-full p-5 font-medium rtl:text-right border border-gray-700 hover:text-slate-200 hover:bg-indigo-600 gap-3"
      data-accordion-target={`#accordion-open-body-${id}`}
      aria-expanded={expandir}
      aria-controls={`accordion-open-body-${id}`}
    >
      <span class="flex items-center"
        >  {pregunta}</span
      >
      <svg
        data-accordion-icon
        class="w-3 h-3 rotate-180 shrink-0"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 10 6"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5 5 1 1 5"></path>
      </svg>
    </button>
  </h4>
  <div
    id={`accordion-open-body-${id}`}
    class="hidden"
    aria-labelledby={`accordion-open-heading-${id}`}
  >
    <div
      class="p-5 border border-b-0 border-gray-600"
    >
       <h3>Requisitos</h3>
        {respuesta}
     
    </div>
  </div>
   
 
 